.adcarousel-wrapper {
  width: 100%;
  height: 50vh;
  position: relative;
  overflow: hidden;
}

.adcarousel-swiper {
  width: 100%;
  height: 100%;
}

.adcarousel-slide {
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  height: 100%;
  position: relative;
}

.adcarousel-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.adcarousel-content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: left;
  max-width: 800px;
  margin-left: 5%;
  padding: 20px;
  border-radius: 16px;
  opacity: 0;
  transform: translateX(-50px);
  animation: slideIn 1s ease forwards;
  animation-delay: 0.3s;
}

.adcarousel-content h2 {
  font-size: 3rem;
  margin-bottom: 0.5em;
}

.adcarousel-content p {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.adcarousel-link {
  display: inline-block;
  font-size: 1.1rem;
  padding: 10px 20px;
  background-color: #aef507;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.adcarousel-link:hover {
  background-color: #8ddc06;
}

.ad-caoursel-png-container {
  z-index: 2;
}
.ad-caoursel-png-container img {
  width: 100%;
  height: auto;
  max-width: 400px;
  margin-left: 100%;
  transform: translateX(50%);
  animation: slideIn 1s ease forwards;
  animation-delay: 0.3s;
  opacity: 0;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 1024px) {
  .adcarousel-content {
    max-width: 500px;
  }
  .adcarousel-content h2 {
    font-size: 2rem;
  }

  .adcarousel-content p {
    font-size: 1.1rem;
  }
  .ad-caoursel-png-container img {
    max-width: 250px;
    margin-left: 50%;
    transform: translateX(30%);
  }
}

@media (max-width: 768px) {
  .adcarousel-content {
    max-width: 400px;
    padding: 15px;
    margin-left: 1%;
  }

  .adcarousel-content h2 {
    font-size: 1.75rem;
  }

  .adcarousel-content p {
    font-size: 1rem;
  }

  .ad-caoursel-png-container img {
    margin-left: 20%;
  }
}

@media (max-width: 480px) {
  .adcarousel-slide {
    height: 100%;
  }

  .adcarousel-content {
    max-width: 400px;
    margin-left: 2%;
  }
  .adcarousel-content h2 {
    font-size: 1.4rem;
  }

  .adcarousel-content p {
    font-size: 0.95rem;
  }

  .adcarousel-link {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  .ad-caoursel-png-container {
    margin-left: 20%;
    display: none;
  }
}
