:root {
  --primary-color: #afe507;
  --secondary-color: #0e0e0e;
  --background-color: #ffffff;
  --border-radius: 30px;
  --transition-duration: 0.5s;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 2;
}

.hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
  animation: fadeSlideIn 1.5s ease-in-out;
  text-align: center;
}

.hero-title {
  font-size: 4.5vw;
  font-weight: 100;
  margin: 20px auto;
  max-width: 70vw;
  color: #3f3f3f;
  text-align: left;
}

.hero-title .word-group {
  display: inline;
  margin-right: 10px;
  transition: opacity 0.3s ease, color 0.3s ease;
}

.hero-title .word-group.in-view {
  color: #fff;
}

/* .hero-subtitle {
  font-size: 1.4rem;
  font-weight: 400;
  max-width: 100%;
  margin-bottom: 0.625rem;
}

.hero-description {
  font-size: 1rem;
  max-width: 100%;
  margin-bottom: 1.25rem;
  opacity: 0.9;
} */

.hero-button {
  position: relative;
  text-decoration: none;
  margin: 0.9375rem;
  padding: 0.9375rem 1.875rem;
  text-align: center;
  font-weight: bold;
  font-size: 0.9375rem;
  color: var(--primary-color);
  background: transparent;
  cursor: pointer;
  transition: ease-out var(--transition-duration);
  border: 2px solid #fff;
  border-radius: var(--border-radius);
  box-shadow: inset 0 0 0 0 var(--primary-color);
  overflow: hidden;
  animation: fadeSlideIn 0.5s ease-in-out;
  z-index: 2;
}

.hero-button:active {
  transform: scale(0.9);
}

.hero-button:hover {
  border: 2px solid var(--primary-color);
  color: var(--secondary-color);
}

.hero-button span i {
  margin: 0 0.625rem;
  background-color: var(--background-color);
  border-radius: 50%;
  transition: all 0.8s;
  padding: 0.625rem;
}

.hero-button:hover i {
  color: var(--background-color);
  background-color: var(--secondary-color);
}

.hero-bubble-effect {
  position: absolute;
  width: 0;
  height: 0;
  background-color: var(--background-color);
  border-radius: 50%;
  transition: all var(--transition-duration) ease-in-out;
  z-index: -5;
  top: -100%;
  left: 50%;
  transform: translate(-50%, 0);
}

.hero-button:hover .hero-bubble-effect {
  height: 25rem;
  width: 18.75rem;
  transform: translate(-50%, -50%);
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-3.125rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 1024px) {
  .hero-title {
    max-width: 80vw;
    font-size: 7vw;
  }
}
@media (max-width: 768px) {
  .hero-subtitle {
    font-size: 1.2rem;
  }

  .hero-description {
    font-size: 0.875rem;
  }

  .hero-button {
    padding: 0.75rem 1.5rem;
    font-size: 0.875rem;
    margin: 0.625rem;
  }

  .hero-button span i {
    margin: 0 0.5rem;
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  /* .hero-content {
    max-width: 25rem;
  } */

  .hero-title {
    font-size: 8.5vw;
    max-width: 90vw;
  }
  .hero-subtitle {
    font-size: 1rem;
  }

  .hero-description {
    font-size: 0.75rem;
  }

  .hero-button {
    padding: 0.5rem 0.875rem;
    font-size: 0.625rem;
    margin: 0.375rem;
  }

  .hero-button span i {
    margin: 0 0.25rem;
    padding: 0.25rem;
  }
}

@media (max-width: 375px) {
  .hero-content {
    max-width: 18.75rem;
  }

  .hero-subtitle {
    font-size: 0.875rem;
  }

  .hero-description {
    font-size: 0.625rem;
  }

  .hero-button {
    padding: 0.375rem 0.625rem;
    font-size: 0.5rem;
    margin: 0.375rem;
  }
}
