.admin-layout * {
  cursor: auto !important;
}

.admin-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
  cursor: auto !important;
}

.admin-layout a,
.admin-layout button {
  cursor: pointer !important;
}

.admin-layout input,
.admin-layout textarea {
  cursor: text !important;
}

.admin-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

.admin-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f1f6cc;
}
