.admin-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.admin-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

.admin-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f1f6cc;
}
