body {
  margin: 0;
  padding: 0;
  background-color: #0e0e0e;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  overflow-x: hidden;
  position: relative;
  cursor: url("./assets//Cursors Assets/CursorDefault.cur"), auto !important;
}

a,
button,
[role="button"],
input[type="submit"],
input[type="button"] {
  cursor: url("./assets//Cursors Assets/CursorPointer.cur"), pointer !important;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea {
  cursor: url("./assets//Cursors Assets/CursorText.cur"), text !important;
}

@media (max-width: 1024px) {
  .admin-content {
    margin-left: 10%;
    margin-top: 10%;
  }
}

@media (max-width: 768px) {
  .admin-content {
    margin-left: 12%;
    margin-top: 12%;
  }
}

@media (max-width: 480px) {
  .admin-content {
    margin-left: 15%;
    margin-top: 15%;
  }
}
